@import url('./colors.css');

html {
  font-size: 10px;
}

body {
  position: relative;
}

p,
a,
span {
  font-size: 1.6rem;
}

header {
  padding: 2rem 20rem;
  background-color: var(--gray5-color);
  position: sticky;
  transition: box-shadow 0.5s;
  top: 0;
}

header .header_wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header.nav_shadow {
  box-shadow: 0 10px 30px rgba(188, 188, 188, 0.2);
  background: linear-gradient();
  transition: box-shadow 0.5s;
  border-bottom: 1px solid #e2ebfa;
}

header .login {
  flex-shrink: 0;
}

header .logo {
  flex-shrink: 0;
}

header .logo img {
  width: 133px;
  height: 24px;
}

header .login a,
header .login a:active {
  padding: 15px 40px;
  background-image: linear-gradient(270deg, #6ae3fe, var(--primary-color));
  border-radius: 8px;
  color: var(--white-color);
  text-decoration: none;
}

/* main intro */

main {
  background-color: #fff;
}

main .main_header_wrap {
  background-color: var(--gray5-color);
  padding-top: 2.8rem;
  padding: 0 3.2rem;
}

main .main_header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: 7rem;
  text-align: center;
}

main .intro_wrap h1,
main .intro_wrap span {
  font-size: 6.4rem;
}

main .main_header a.link_add,
main .main_header a.link_add:active {
  padding: 16px 126px;
  background-image: linear-gradient(270deg, #6ae3fe, var(--primary-color));
  border-radius: 8px;
  color: var(--white-color);
  text-decoration: none;
  margin-top: 40px;
  margin-bottom: 90px;
}

/* section */

main .info_gradient {
  background: linear-gradient(270deg, #ff9f9f, var(--primary-color));
}

main .link_gradient {
  background: linear-gradient(270deg, #a4ceff, #fe8a8a);
}

main .folder_gradient {
  background: linear-gradient(270deg, #a4ceff, #ffd88b);
}

main .share_gradient {
  background: linear-gradient(270deg, #a4ceff, #528885);
}

main .sns_gradient {
  background: linear-gradient(270deg, #a4ceff, #76dbf0);
}

main .text_gradient {
  color: transparent;
  background-clip: text;
}

main section {
  box-shadow: 0 -15px 40px 20px var(--gray4-color);
  padding: 70px 0;
}

section .card {
  padding: 50px 0;
  display: flex;
  justify-content: center;
}

main h1,
main span {
  font-size: 4.8rem;
  font-weight: 500;
}

section .card .card_item {
  width: 998px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15.7rem;
}

section .card .card_item .figcaption_wrap {
  display: flex;
  flex-direction: column;
}

section .image_description {
  margin-top: 10px;
  line-height: 25px;
}

section .section_folder .figure_image,
section .section_sns .figure_image {
  order: -1;
}

footer {
  background-color: var(--black-color);
}

footer .footer_wrap {
  padding: 3.2rem 10.4rem 10.8rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  color: #676767;
}

/* footer */

footer .privacy_fnq_wrap {
  justify-self: center;
}

footer .sns_fill_wrap {
  justify-self: end;
}

footer .footer_wrap a {
  color: #cfcfcf;
}

footer .privacy_fnq_wrap {
  display: flex;
  gap: 3rem;
}

footer .sns_fill_wrap {
  display: flex;
  gap: 1.2rem;
}

/* mediaquary */

/* tablet */

@media screen and (max-width: 1199px) {
  header {
    padding: 2rem 3.2rem;
  }
  main .main_header img {
    width: 100%;
  }
  section .card .card_item {
    width: 698px;
    gap: 5rem;
  }
  section .card .card_item .figure_image {
    width: 100%;
  }
  section .card .card_item .figure_image img {
    width: 100%;
  }
  footer .footer_wrap {
    padding: 3.2rem 10.4rem 10.8rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
    gap: 2rem;
    color: #676767;
  }
  footer .sns_fill_wrap {
    justify-self: center;
  }
}

/* mobile */

@media screen and (max-width: 767px) {
  main .main_header h1,
  main .main_header span {
    font-size: 3.2rem;
  }
  main h1,
  main span {
    font-size: 2.4rem;
    font-weight: 500;
  }
  section .figure_image {
    width: 100%;
  }
  section .section_folder .figure_image,
  section .section_sns .figure_image {
    order: 0;
  }
  section .figcaption_wrap {
    align-self: flex-start;
  }
  main .main_header a.link_add {
    margin: 2.4rem;
  }
  section .card .card_item {
    width: 100%;
    flex-direction: column;
    gap: 2rem;
  }
  section .card {
    padding: 4rem 3.2rem;
  }
  section .card .card_item img {
    width: 100%;
  }
}
