@import url('../css/color.css');

html {
  font-size: 10px;
}

body {
  background-color: var(--gray5-color);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10rem;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
}

p,
a,
span {
  font-size: 1.6rem;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

header a.logo {
  margin-bottom: 16px;
}

header a.signup_button {
  color: var(--primary-color);
}

header a.signup_button::active {
  color: var(--primary-color);
}

section .signin_form {
  display: flex;
  flex-direction: column;
}

section .toggle_wrap {
  position: relative;
  display: flex;
  flex-direction: column;
}

section .signin_form img.password_eyes {
  width: 20px;
  position: absolute;
  right: 15px;
  bottom: 40px;
  cursor: pointer;
}

section .signin_form img.password_eyes.eyes_offset {
  bottom: 39px;
}

section label {
  margin-bottom: 1.2rem;
  font-size: 1.4rem;
}

section input {
  font-size: 1.6rem;
  border: 1px solid var(--gray3-color);
  border-radius: 8px;
  padding: 18px 15px;
  margin-bottom: 24px;
}

section button {
  padding: 16px 0;
  border-radius: 8px;
  border: none;
  background-image: linear-gradient(270deg, #6ae3fe, var(--primary-color));
  color: #fff;
  font-size: 1.8rem;
  cursor: pointer;
}

footer {
  font-size: 1.4rem;
  margin-top: 32px;
  color: #373740;
  padding: 12px 24px;
  border: 1px solid var(--gray3-color);
  border-radius: 8px;
  background-color: var(--gray4-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer .sns_wrap {
  display: flex;
  gap: 16px;
}

footer p {
  font-size: 1.4rem;
}
