.owner_wrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 20px 0 60px 0;
}

.owner_img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.owner_name {
  margin-top: 12px;
}

.star {
  margin-top: 20px;
  font-size: 40px;
}
