@import url('../styles/colors.css');

footer {
  background-color: var(--black-color);
}

.footer_wrap {
  padding: 32px 104px 108px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  color: #676767;
}

.privacy_fnq_wrap {
  justify-self: center;
}

.sns_fill_wrap {
  justify-self: end;
}

.footer_wrap a {
  color: #cfcfcf;
}

.privacy_fnq_wrap {
  display: flex;
  align-items: center;
  gap: 30px;
}

.sns_fill_wrap {
  display: flex;
  gap: 12px;
}

@media screen and (max-width: 1124px) {
  .footer_wrap {
    padding: 32px 104px 108px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    justify-items: center;
    gap: 20px;
    color: #676767;
  }
  .sns_fill_wrap {
    justify-self: center;
  }
}

@media screen and (max-width: 767px) {
  .footer_wrap {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-items: start;
    gap: 60px 0;
    padding: 32px;
  }
  .privacy_fnq_wrap {
    justify-self: start;
    gap: 30px;
  }
  .sns_fill_wrap {
    justify-self: end;
  }
  .copyright {
    grid-row: 2 / -1;
  }
}
