.kebob {
  position: absolute;
  top: 15px;
  right: 20px;
  z-index: 20;
}

.kebob_modal {
  position: absolute;
  z-index: 30;
  right: 0;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 2px 8px 0px rgba(51, 50, 54, 0.1);
}

.kebob_modal button {
  border: none;
  background-color: white;
  width: 100px;
  height: 32px;
}

.kebob_modal button:hover {
  background-color: var(--gray4-color);
  color: #fff;
}
