.form_wrap {
  margin-top: 40px;
}

.form {
  position: relative;
}

.icon_btn {
  cursor: pointer;
  border: none;
  background-color: #f5f5f5;
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-10.25px);
}

#search {
  width: 1060px;
  padding: 15px 15px 15px 45px;
  box-sizing: border-box;
  border: none;
  background-color: #f5f5f5;
  border-radius: 10px;
}

@media screen and (max-width: 1124px) {
  #search {
    width: 700px;
  }
}

@media screen and (max-width: 767px) {
  .helper {
    width: 100%;
  }

  .form_wrap {
    padding: 0 32.5px;
  }

  #search {
    width: 100%;
  }
}
