html {
  font-size: 10px;
}

body {
  position: relative;
}

p,
a,
span {
  font-size: 1.6rem;
}

/* article intro */

article {
  background-color: #fff;
}

article .main_header_wrap {
  background-color: var(--gray5-color);
  padding: 2.8rem 3.2rem 0;
}

article .main_header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: 7rem;
  text-align: center;
}

article .intro_wrap h1,
article .intro_wrap span {
  font-size: 6.4rem;
}

article .main_header a.link_add,
article .main_header a.link_add:active {
  padding: 16px 126px;
  background-image: linear-gradient(270deg, #6ae3fe, var(--primary-color));
  border-radius: 8px;
  color: var(--white-color);
  text-decoration: none;
  margin-top: 40px;
  margin-bottom: 90px;
}

/* section */

.info_gradient {
  background: linear-gradient(270deg, #ff9f9f, var(--primary-color));
}

.link_gradient {
  background: linear-gradient(270deg, #a4ceff, #fe8a8a);
}

.folder_gradient {
  background: linear-gradient(270deg, #a4ceff, #ffd88b);
}

.share_gradient {
  background: linear-gradient(270deg, #a4ceff, #528885);
}

.sns_gradient {
  background: linear-gradient(270deg, #a4ceff, #76dbf0);
}

.text_gradient {
  color: transparent;
  background-clip: text;
}

section {
  box-shadow: 0 -15px 40px 20px var(--gray4-color);
  padding: 70px 0;
}

section .card {
  padding: 50px 0;
  display: flex;
  justify-content: center;
}

article h1,
article span {
  font-size: 4.8rem;
  font-weight: 500;
}

section .card_item {
  width: 998px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  column-gap: 15.7rem;
  row-gap: 1rem;
}

section .image_title {
  grid-row: 2 / 3;
}

section .image_description {
  margin-top: 10px;
  line-height: 25px;
  grid-row: 3 / 4;
}

section .card_image {
  grid-column: 2 / -1;
  grid-row: 1 / -1;
}

section .section_folder .card_image,
section .section_sns .card_image {
  grid-column: 1 / 2;
}

footer {
  background-color: var(--black-color);
}

footer .footer_wrap {
  padding: 3.2rem 10.4rem 10.8rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  color: #676767;
}

/* footer */

footer .privacy_fnq_wrap {
  justify-self: center;
}

footer .sns_fill_wrap {
  justify-self: end;
}

footer .footer_wrap a {
  color: #cfcfcf;
}

footer .privacy_fnq_wrap {
  display: flex;
  gap: 3rem;
}

footer .sns_fill_wrap {
  display: flex;
  gap: 1.2rem;
}

/* mediaquary */

/* tablet */
@media screen and (max-width: 1199px) {
  header {
    padding: 2rem 3.2rem;
  }
  article .main_header img {
    width: 100%;
  }
  article .intro_wrap h1,
  article .intro_wrap span {
    font-size: 4rem;
  }
  section .card_item {
    width: 698px;
    row-gap: 1rem;
    column-gap: 5.1rem;
  }
  section .image_title {
    font-size: 4rem;
    grid-row: 1 / span 2;
    align-self: end;
  }
  section .text_gradient {
    font-size: 4rem;
  }
  section .image_description {
    grid-row: 3 / span 2;
  }
  section .card_image {
    width: 100%;
    grid-column: 2 / -1;
    grid-row: 1 / span 4;
  }
  footer .footer_wrap {
    padding: 3.2rem 10.4rem 10.8rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    justify-items: center;
    gap: 2rem;
    color: #676767;
  }
  footer .sns_fill_wrap {
    justify-self: center;
  }
}

/* mobile */
@media screen and (max-width: 767px) {
  article .main_header h1,
  article .main_header span {
    font-size: 3.2rem;
  }
  section .image_title,
  section .text_gradient {
    font-size: 2.4rem;
    font-weight: 500;
  }
  section .card_image {
    width: 100%;
  }
  section .section_folder .card_image,
  section .section_sns .card_image {
    order: 0;
  }
  article .main_header a.link_add {
    margin: 2.4rem;
  }
  section .card {
    padding: 4rem 3.2rem;
  }
  section .card_item {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 2rem;
  }
  section .image_title {
    align-self: start;
  }
  section .image_description {
    order: 1;
  }
  section .card_image {
    width: 100%;
  }
  footer .footer_wrap {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-items: start;
    padding: 3.2rem 6.4rem 6.4rem;
  }
  footer .privacy_fnq_wrap {
    justify-self: start;
  }
  footer .sns_fill_wrap {
    justify-self: end;
  }
  footer .copyright {
    grid-row: 2 / -1;
  }
}
